/* Add this to your existing CSS file or create a new one */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('images/charge2.jpg'); /* Replace 'your-background-image.jpg' with the path to your background image */
    background-size: 20%; /* This property ensures that the background image covers the entire body */
    background-position: left; /* This property centers the background image */
    background-repeat: no-repeat; /* This property ensures that the background image is not repeated */
    top: 50%;
    right: 0;
    bottom: 0;
}


.container {
    max-width: 400px;
    padding: 20px;
    background-color: #faf7f7;
    border: 1px solid #9a9494;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-left: 35%;
}

.user-profile-form {
    display: flex;
    flex-direction: column;
}

.form-title {
    text-align: center;
}

.form-group {
    margin: 10px 0;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="radio"] {
    margin-right: 10px;
}

.form-submit {
    width: 50%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Style for the Edit and Update buttons */
#edit-button, #update-button {
    background-color:red;
}

.error-message {
    color: red;
    margin-top: 5px;
}

/* Additional styles for header and other elements if needed */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Customize as per your requirements */
.form-group.gender-options {
    display: flex;
    gap: 10px;
}

.menu-bar {
    background-color: white;
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-bar .logo {
    margin-left: 20px;
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  
  .menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-bar li {
    display: inline;
    margin: 0 20px;
  }
  
  .menu-bar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
  }