body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
  }
  
 .header {
    background-color: #5eb3b4;
    color: #fff;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .logout a {
    color: white;
    text-decoration: none;
  }
  
  .page-content {
    display: flex;
    height: calc(100vh - 90px); /* Adjusted for header height */
  }
  
  .form-section {
    flex: 1;
    padding: 20px;
    background-color: #f3f7f8;
    border: #a8a641;
  }
  
  .form-section h2 {
    color: #63868a;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  select {
    padding: 10px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #acButton, #dcButton {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #b6edb8;
    width: 50%;
  }
  
  /* Style for the terminals container */
  #terminalsContainer {
    margin-top: 20px;
  }

  #terminalsDiv {
    margin-top: 10px;
  }

  button:hover {
    background-color: #45a049;
  }
  
  .image-section {
    flex: 1;
    overflow: hidden;
  }
  
  img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Add your existing styles here */
  /* styles.css */

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .form-section {
    text-align: center;
  }
  
  .form-box {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  /* Add more styles as needed */
  
  /* Add your existing styles */

#selectedInfo {
  margin-top: 20px;
  padding: 15px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#selectedInfo p {
  margin: 0;
  padding: 5px;
  font-size: 16px;
  color: #333;
}
